*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
html {
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container{
    height: 100%;
    max-width: 550px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #5e5e5e;
    transition: 2s;
}

a{
    text-decoration: none;
    color: #fff;
}

.degrade{
    background: linear-gradient(to right, #ed5565, #ff0054);}

header{
    text-align: center;
    margin-bottom: 30px;
}

header img{
    max-width: 100px;
    margin-bottom: 30px;
}

header h1{
    font-size: 2em;
    color: #5e5e5e;
    font-weight: 300;
}

section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
}
a.link i{
    font-size: 1.5em;
}
a.link{
    margin-bottom: 8px;
}
a link button:hover , footer a.btn-footer:hover{
    transform: scale(1.05);
}

footer{
    text-align: center;
    margin: 15px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;

}
